# Structures de contrôle

## **If**: Comment prendre des décisions dans vos programmes

In [19]:
# Décision Simple
temperature = 3
if temperature > 30:
    print("il fait chaud")

In [16]:
temperature > 30

True

In [29]:
# Décision avec alternative (Else)
temperature = 3
if temperature > 30:
    print("il fait chaud")
    print("il fait chaud")
    print("il fait chaud")
    print("il fait chaud")
else:
    print("il fait froid")

il fait froid

In [22]:
# Décision avec multiples alternatives (Elif) 
note = "F"
if note == "A" :
    print("Excellent")
elif note == "B" :
    print("Bien")
elif note == "C" :
    print("Moyen")
else :
    print(" A améliorer")

 A améliorer

In [27]:
# Conditions multiples conditions
note = 12
age = 14

if (note >= 16) & (age <=20):
    print("Bourse acceptée")
else :
    print("Pas de Bourse")

Pas de Bourse

In [24]:
(note >= 16) and (age <=20)

True

In [6]:
# Conditions Imbriquées
if age <= 20 :
    if note >16 :
        print("bourse acceptée")
    else:
        print ("Pas de bourse")
else

### Exercice

**Objectif :** 
Développer une fonction `classer_age` en Python qui détermine la catégorie d'âge d'une personne à partir de son âge.

**Instructions :**
1. La fonction `classer_age` doit accepter un seul argument numérique, `age`, qui représente l'âge de la personne en années.
2. La fonction doit retourner une chaîne de caractères selon l'âge :
   - Retourner `"Enfant"` si l'âge est inférieur à 12 ans.
   - Retourner `"Adolescent"` si l'âge est entre 12 et 17 ans inclus.
   - Retourner `"Adulte"` si l'âge est entre 18 et 59 ans inclus.
   - Retourner `"Senior"` si l'âge est de 60 ans ou plus.
3. Si l'âge est inférieur à 0 ou n'est pas un nombre valide, la fonction doit retourner `"Âge invalide"`.

In [33]:
def classer_age(x):
    
    if (x <= 12) & (x >=0) :
        resultat = "Enfant"
    elif (x > 12) & (x <= 17):
        resultat =  " Adolescent"
    elif (x >= 18) & (x <= 59):
        resultat =  " Adulte"
    elif (x >= 60) :
        resultat =  " Senior"
    else:
        resultat = "Age invalide"
        
    return resultat
classer_age(-5)

'Age invalide'

## **For**: Techniques pour parcourir des données séquentielles

In [39]:
#Présentation de la boucle for simple
for i in range(10,0,-1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

In [40]:
range(10,0,-1)

range(10, 0, -1)

In [43]:
#For avec une condition if
for i in range(10,0,-1) :
    
    if i % 2 == 0 :
        print(i, " est un Nombre pair")
    else :
        print(i, " est Nombre impair")

10  est un Nombre pair
9  est Nombre impair
8  est un Nombre pair
7  est Nombre impair
6  est un Nombre pair
5  est Nombre impair
4  est un Nombre pair
3  est Nombre impair
2  est un Nombre pair
1  est Nombre impair

## While: Exécuter des instructions de manière répétitive sous certaines conditions

In [46]:
# While de base
compteur = 1

while compteur < 10 :
    print(compteur)
    compteur += 1 #compteur = compteur + 1

1
2
3
4
5
6
7
8
9

In [48]:
# Boucle Infinie avec while et l'instruction break
compteur = 1
while True :
    print(compteur)
    compteur += 1 #compteur = compteur + 1
    if compteur == 5 :
        break

1
2
3
4

# Types de Données en Python

## Listes

### Create

In [51]:
# Liste de nombre
liste_age = [15, 17, 23, 29, 45, 50, 45, 67]
print(liste_age)
type(liste_age)

[15, 17, 23, 29, 45, 50, 45, 67]

list

In [52]:
# Taille des élément d'une liste
len(liste_age)

8

In [54]:
# Liste de chaîne de caractère
liste_nom = ["madsurfman", "Osée", "Ralph"]
liste_nom

['madsurfman', 'Osée', 'Ralph']

In [59]:
# Liste de listes
liste = [liste_age, liste_nom]
print(liste)
type(liste)

[[15, 17, 23, 29, 45, 50, 45, 67], ['madsurfman', 'Osée', 'Ralph']]

list

In [ ]:
# Taille

In [57]:
len(liste)

2

### Read

In [60]:
# Lire un élément au début
# Liste de nombre
liste_age = [15, 17, 23, 29, 45, 50, 45, 67]
liste_age[0]

15

In [61]:
# Lire le dernier élément
liste_age[-1]

67

In [62]:
liste_age[len(liste_age)-1]

67

In [64]:
# Lire à une position quelconque
liste_age[4]

45

In [66]:
liste[0][0]

15

In [72]:
# Lire sur plusieurs positions qui se suivent
liste_age[1:4]

[17, 23, 29]

In [73]:
# Faire une boucle une liste
for nom in liste_nom :
    print(nom)

madsurfman
Osée
Ralph

### Update

In [74]:
# Modification direct à partir d'un index
liste_nom[1] = "Natacha"
print(liste_nom)

['madsurfman', 'Natacha', 'Ralph']

In [76]:
# Ajouter un élément à la fin de la liste (append)
liste_nom.append("Ibrahim")
liste_nom

['madsurfman', 'Natacha', 'Ralph', 'Ibrahim']

In [79]:
# Ajouter un élément à une position précise (insert)
liste_nom.insert(1,"Floriane")
liste_nom

['madsurfman', 'Floriane', 'Natacha', 'Ralph', 'Ibrahim']

### Delete

In [89]:
# Supprimer l'élément à un index spécifique (del liste[index])
del liste_nom[2]
liste_nom

['madsurfman', 'Floriane', 'Ibrahim']

In [120]:
# Supprimer la première occurrence de l'élement (remove)
liste_age = [15, 17, 23, 29, 45, 50, 45, 67,15]
liste_age.remove(17)

In [121]:

liste_age

[15, 23, 29, 45, 50, 45, 67, 15]

In [92]:
# Supprimer et retourner l'élément à l'index donné pop
liste_age.pop(0)

17

In [93]:
liste_age

[23, 29, 45, 50, 45, 67, 15]

In [95]:
liste=list()
type(liste)

list

### QCM

**Question 1 : Quelle est la syntaxe correcte pour créer une liste vide en Python ?**

- a) list = []
- b) list = list()
- c) Les deux réponses a et b sont correctes

**Question 2 : Comment accède-t-on au dernier élément d'une liste nommée `maListe` en Python ?**
- a) maListe[-1]
- b) maListe[len(maListe)-1]
- c) Les deux réponses a et b sont correctes

## String

In [97]:
nom = "Natacha"

In [101]:
nom[-1]

'a'

## Tuples


- Un **tuple** est une collection d'éléments **ordonnée** et **immuable** en Python. 
- Avantage: moins d'espace mémoire que les listes

In [122]:
#Create
mon_tuple = (3, 6, 7, 8,8)
mon_tuple

(3, 6, 7, 8, 8)

In [123]:
set(mon_tuple)

{3, 6, 7, 8}

In [104]:
#Read
mon_tuple[0]
mon_tuple[-1]

8

In [107]:
mon_tuple[1]
type (mon_tuple)

tuple

In [108]:
#Update
mon_tuple + (3,5)

(3, 6, 7, 8, 3, 5)

In [111]:
#Delete
del mon_tuple

## Sets

- Un set est une collection d'éléments **non ordonnée**, **modifiable** et **unique** en Python. Chaque élément dans un set est distinct et ne peut apparaître qu'une seule fois.

- Avantage : les sets sont optimisés pour vérifier rapidement si un élément est présent dans la collection, ce qui les rend idéaux pour les opérations comme les unions, intersections, et différences d'ensembles.

In [112]:
#Create
mon_set = {4, 5, 7, 7, 7, 6, 6}
mon_set

{4, 5, 6, 7}

In [114]:
#Read (for)
for element in mon_set:
    print(element)

4
5
6
7

In [117]:
# Read if pour vérifier la présence
if 4 in mon_set:
    print("3 est disponible")
else :
    print("3 est non disponible")

3 est disponible

In [119]:
type(list(mon_set))

list

In [ ]:
#Update (méthode add)

In [ ]:
#Delete (del)

In [ ]:
# Transformation de liste en set

In [ ]:
# Transformation de set en liste

# Exercice  : Trouve et Remplace Automatiquement dans une Liste
## Objectif :
Écrire un programme Python qui parcourt une liste prédéfinie de nombres entiers, recherche un nombre spécifique dans cette liste, et remplace toutes ses occurrences par un autre nombre spécifié.

## Instructions :

Utilisez la liste suivante de nombres entiers : [12, 35, 12, 9, 56, 24, 35, 12, 89, 24, 35, 12].

**Nombre à Rechercher et à Remplacer :**

- Définissez une variable pour le nombre à rechercher dans la liste. Par exemple, nombre_recherche = 12.
- Définissez une autre variable pour le nombre qui remplacera les occurrences trouvées. Par exemple, nombre_remplacement = 100.

**Recherche et Remplacement :**

- Parcourez la liste avec une boucle. À chaque fois que le nombre_recherche est trouvé, remplacez-le par le nombre_remplacement.

**Affichage des Résultats :**

- Avant de commencer le processus de remplacement, affichez la liste originale.
- Après avoir effectué les remplacements, affichez la liste modifiée pour montrer les changements effectués.

### QCM

## Dictionnaires

- Un **dictionnaire** est une collection d'éléments **non ordonnée**, **modifiable** et **indexée** en Python. Dans un dictionnaire, les données sont stockées sous forme de paires **clé-valeur**. Chaque clé est unique et est utilisée pour accéder à sa valeur correspondante.

- Avantage : Les dictionnaires sont optimisés pour récupérer rapidement des données. Ils permettent d'accéder à une valeur en utilisant sa clé, ce qui rend les opérations de recherche, insertion et suppression très efficaces.

In [ ]:
#Create

In [ ]:
# items (), keys(), values ()

In [ ]:
#Read

In [ ]:
#Update (.update)

In [ ]:
#Delete

### QCM

# Exercices