In [2]:
print("Bonjour Natacha")

Bonjour Natacha

# Ceci est un titre de niveau 1

## Ceci est un titre de niveau 2

Daily live coding tous les jours à 21h15 sur la chaîne Youtube LeCoinStat

# Les bases de Python

## Syntaxe de Base:

- Comment écrire un code propre et lisible en Python.
- Commentaires

In [1]:
# Ceci est un commentaire
print("test")

test



## Déclaration et Utilisation des Variables:

- **Nommage**: Les noms de variables doivent commencer par une lettre ou un underscore.
- **Assignation de Valeurs**: Utilisez le signe `=` pour assigner une valeur à une variable.
- **Utilisation dans les Opérations**: Les variables peuvent être utilisées dans des opérations mathématiques ou logiques.
- **Création de plusieurs Variables simultanément**

In [4]:
nom_abonnes="Ronald"
print(nom_abonnes)

Ronald

In [5]:
nombre_video=200
print(nombre_video)

200

In [6]:
taille_abonnes=1.70
print(taille_abonnes)

1.7

In [2]:
x=5
z=x
z

5


## Différents Types de Données

- **Types Intégrés**: Utilisez `int`, `float`, `str`, et `list` pour représenter différents types de données.
- **Vérification de Type**: La fonction `type()` permet de vérifier le type d'une variable.
- **Opérations de Base**: Effectuez des opérations comme l'addition de `int`, ou la concaténation de `str`.

In [9]:
type(nombre_video)

int

In [10]:
type(taille_abonnes)

float

In [3]:
booleen=False
print(booleen)

False

In [4]:
temp=True
print(temp)

True

In [19]:
str(temp)

'True'


## Opérations Arithmétiques Simples:

- **Opérations de Base**: Addition `+`, soustraction `-`, multiplication `*`, et division `/`.
- **Opérations Avancées**: Division entière `//`, modulo `%`, et exponentiation `**`.
- **Priorité**: Python suit l'ordre opérationnel mathématique standard.

In [25]:
# addition
x=5
y=2
z=x+y
print(z)

7

In [21]:
# Multiplication
z=x*y
print(z)

255

In [22]:
# Division 
z=x/y
print(z)

0.8823529411764706

In [23]:
# Soustraction 
z=x-y
print(z)

-2

In [26]:
# Récupérer la partie entière d'une division 
z=x//y
print(z)

2

In [27]:
# Récupérer le reste de la division  des chiffres
z=x%y
print(z)

1

In [29]:
# Puissance
z=x**y
z

25



## Opérations Logiques Simples:

- **Opérateurs Logiques**: `and`, `or`, `not` pour les opérations booléennes.
- **Comparaisons**: `==`, `!=`, `>`, `<`, `>=`, `<=` pour comparer des valeurs.

## Opérations logiques

In [6]:
# Opération et
x=True
y=False
z=x and y
z

False

In [7]:
z=x & y
z

False

In [9]:
# Opérateur ou 
z=x or y
z

True

In [8]:
z=x | y
z

True

In [10]:
z=not x
z

False

## Opérations de comparaison

In [11]:
# Affecter la valeur 24 à la variable age
age=24
age

24

In [12]:
# tester si l'age est égal à 24 ans
age==24

True

In [38]:
# Tester si l'âge est inférieur à 24 ans
age<24

False

In [39]:
# Tester si l'âge est supérieur à 24 ans
age>24

False

In [40]:
# tester si l'age est différent de 24 ans
age !=24

False

In [41]:
# tester inférieur ou égale à 24 ans
age<=24

True

In [42]:
# tester age supérieur ou égale à 24
age>=24

True

## Les Fonctions en Python
- Fonctions lambda
- Fonctions avancées: Définiton et les valeurs par défaut

In [66]:
addition=lambda x,y:x+y

In [63]:
addition(50,10)

60

In [64]:
temp=addition(50,10)# Affecter les valeurs de la fonction à une variable
temp

60

# Création fonction classique

In [13]:
def multiplication(a=3,b=4,c=5):
    
    """
     expliquer la fonction
     param
     retunr
    """
    

    
    resultat=a*b*c#commenter



    return resultat#commenter

In [14]:
multiplication(4,5)

100

In [16]:
test=multiplication(2,3,4)
test

24

# Exercices

## Exercice 1 : Fonction Lambda

**Objectif :** Écrire une fonction lambda qui multiplie deux nombres.

**Instructions :**

1. Créez une fonction lambda qui accepte deux arguments et retourne leur produit.
2. Testez cette fonction en lui passant différents couples de nombres et affichez les résultats.

In [88]:
multiplication=lambda x,y:x*y

In [89]:
multiplication(5,5)

25

## Exercice 2 : Fonction de Conversion de Température

**Objectif :** Écrire une fonction qui convertit la température de Celsius en Fahrenheit.

**Instructions :**

1. Créez une fonction nommée `celsius_en_fahrenheit` qui prend un nombre (température en degrés Celsius) comme argument.
2. La fonction doit calculer et retourner la température en degrés Fahrenheit en utilisant la formule : 
   
  $$
   \text{Fahrenheit} = \left( \text{Celsius} \times \frac{9}{5} \right) + 32
   $$

3. Testez cette fonction en convertissant plusieurs températures de Celsius en Fahrenheit et affichez les résultats.

In [90]:
def celsius_to_fahrenheit(celsius):
    fahrenheit=(celsius*9/5)+32
    return fahrenheit
celsius_to_fahrenheit(2)

35.6